<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="app.js"></script>
</head>

<body>
    <div id="Application">
      
        <span>新建任务</span>
        <input type="text" v-model="taskText" placeholder="请输入任务……">
        <button @click=addTask()>添加</button>
      
      <ol>
        <li v-for="(item,index) in todes">
          {{item}}
          <button @click="remove(index)">删除</button>
        </li>
      </ol>
    </div>
    
    
    <script>
      const App = {
        data(){
          return {
            todes:[],
            taskText:""
          }
        },
        methods:{
          addTask(){
            if(this.taskText.length == 0){
              alert("请输入任务")
              return
            }
            this.todes.push(this.taskText)
            this.taskText = ""
          },
          
          remove(index){
            this.todes.splice(index,1)
            
          }
        }
        
      }
      Vue.createApp(App).mount("#Application")
      
    </script>
</body>

</html>